
    .wrapperStyle{
        margin:auto 0;
        margin-top: 60px;
        padding: 20px;
        text-align:center;
        width:100%
    }
    .H1labelStyle{
        color:'#333';
        font-size:24;
        font-weight:900
    }
    .standardStyle{
        color:'#666';
        font-size:16;  

    }

